<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FilterOne</filter-name>
        <filter-class>com.addressapp.FilterOne</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterOne</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.addressapp.Social</listener-class>
    </listener>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>com.addressapp.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacts</servlet-name>
        <servlet-class>com.addressapp.Contacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>com.addressapp.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>com.addressapp.EditContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/Contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <display-name>all pages</display-name>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-role>
        <description/>
        <role-name>users</role-name>
    </security-role>
</web-app>
